{% extends "base.html" %}
{% block content %}

    <div class="row mt-5">

        <div class="border border-1 border-dark mx-auto p-4">
            <h2>Song Information</h2>
            Title: {{ song.title }}<br>
            Artist: {{ song.artist }}<br>
            Year: {{ song.year }}<br>
            Genre: {{ song.genre }}<br>
        </div>
        <div id="results" class="border border-1 border-dark mx-auto p-4">

        </div>
    </div>

    <script type=text/javascript>
        const spotify_key = "{{ spotify_api_key }}"
        const data = null;

        const xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                console.log(this.responseText);
                let results = document.getElementById('results')
                song_info = JSON.parse(this.responseText);
                console.log(song_info)
                let album_name = song_info['tracks']['items'][0]['data']['albumOfTrack']['name']
                let album_link = song_info['tracks']['items'][0]['data']['albumOfTrack']['sharingInfo']['shareUrl'];
                let track_id = song_info['tracks']['items'][0]['data']['id'];
                let artist = song_info['tracks']['items'][0]['data']['artists']['items'][0]['uri'];
                let artist_id = artist.split(':')[2];
                results.innerHTML = 'Listen to the full album on Spotify:<br>'
                let aTag = document.createElement('a');
                aTag.setAttribute('href', album_link);
                aTag.innerText = album_name;
                results.appendChild(aTag);
                $('div#results').append($('<br><br><h2>Listen on Spotify:</h2><br><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/' + track_id + '?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>'));
                $('div#results').append($('<br><br><h2>Top Tracks by the Artist:</h2><br><iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/' + artist_id +'?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>'));
            }
        });
        xhr.open("GET", "https://spotify23.p.rapidapi.com/search/?q={{ song_name }}%20{{ song_artist }}&type=tracks&offset=0&limit=10&numberOfTopResults=5");
        xhr.setRequestHeader("X-RapidAPI-Host", "spotify23.p.rapidapi.com");
        xhr.setRequestHeader("X-RapidAPI-Key", spotify_key);

        xhr.send(data);


    </script>
{% endblock %}